.DS_Store

php/application/cache/*
!php/application/cache/index.html

php/application/logs/*
!php/application/logs/index.html

!php/application/*/.htaccess

composer.lock
package-lock.json

php/vendor/
php/upload/*.png
php/upload/*.jpg
php/upload/*.jpeg
.vscode
.vscode/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

/dist/

#
dist/
node_modules/
